{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<h1 class="display-1">Hello there!</h1>
<h2 class="display-4">12 Habits of Highly Productive People:</h2>
<div class="list-group">
  <ul class="list-group list-group-flush">
      {% for item in items %}
    <li class="list-group-item">{{item}}</li>
    {%endfor%}
  </ul>
  <a href="{{ url_for('work') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Goto ToDO </a>
</div>
{% endblock %}
